.default-layout{
  display: grid;
  /*header is given 80px, main is given auto, and footer is given 3rem*/
  grid-template-rows: 80px auto 3rem;
  grid-template-areas: "header" "main" "footer";
}

/*Specifically tell the classes what grid area they belong to*/
header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: 88vh;
}

footer {
  grid-area: footer;
  background-color: rgba(33,37,41,255);
  padding: 1rem;
  color: white;
}